In [1]:
%load_ext sql
%sql sqlite://

'Connected: @None'

활동 6b
------------

MVDs.  먼저 아래의 테이블을 추가해보자:

In [2]:
%%sql
DROP TABLE IF EXISTS courses;
CREATE TABLE courses (course TEXT, staff TEXT, student TEXT);
INSERT INTO courses VALUES ('CS949','Amy','Bob');
INSERT INTO courses VALUES ('CS145','Chris','Deb');
INSERT INTO courses VALUES ('CS145','Chris','Eli');
INSERT INTO courses VALUES ('CS145','Firas','Deb');
INSERT INTO courses VALUES ('CS145','Firas','Bob');
INSERT INTO courses VALUES ('CS145','Firas','Eli');

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

### 문제 1

지난 시간까지는 python 도구를 사용하여 문제들을 풀었다. 이제 다시 SQL로 다시 돌아오자. 교사와 M과목간의 관계가 **MVD일 때만** 출력하는 SQL 질의문을 작성해보자.   

그리고, 위에 테이블을 생성하고 값을 저장한 SQL문에서 테이블이 MVD를 만족하도록 불필요한 INSERT 명령 줄을 주석처리하자.

In [ ]:
%%SQL
SELECT 
FROM 
WHERE ;