In [1]:
%load_ext sql
%sql sqlite://

'Connected: @None'

In [2]:
%%sql drop table if exists product;
create table product(
       pname        varchar primary key, -- product 이름
       price        money,               -- product의 가격
       category     varchar,             -- category
       manufacturer varchar NOT NULL     -- manufacturer
);
insert into product values('Gizmo', 19.99, 'Gadgets', 'GizmoWorks');
insert into product values('PowerGizmo', 29.99, 'Gadgets', 'GizmoWorks');
insert into product values('MultiTouch', 203.99, 'Household', 'Hitachi');
insert into product values('SingleTouch', 149.99, 'Photography', 'Canon');

 * sqlite://
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

활동 02b:
-------------

단일 테이블 질의문

문제 #1
-----------

이름에 "Touch"가 포함되는 모든 결과를 출력하는 질의문을 작성해보자. 결과에는 이름과 가격을 출력하되 제조사의 이름순으로 정렬해보자.

products 를 먼저 살펴보자:

In [3]:
%sql select * from product;

 * sqlite://
Done.

[('Gizmo', 19.99, 'Gadgets', 'GizmoWorks'),
 ('PowerGizmo', 29.99, 'Gadgets', 'GizmoWorks'),
 ('MultiTouch', 203.99, 'Household', 'Hitachi'),
 ('SingleTouch', 149.99, 'Photography', 'Canon')]

아래에 질의문을 작성해보자:

In [4]:
%sql

 * sqlite://

'Connected: @None'

다음에는 "Gizmo"라는 이름이 포함된 제품을 파는 제조사의 이름을 중복없이 출력하는 질의문을 작성해보자:

In [6]:
%sql

 * sqlite://

'Connected: @None'

문제 #2:
------------

다음은 정렬에 대한 질의문들이다. 
아래의 질의문들을 실행하기 전에 결과를 예상해보자.

In [ ]:
%sql SELECT DISTINCT category FROM product ORDER BY category;

In [ ]:
%sql SELECT category FROM product ORDER BY pname;

In [ ]:
%sql SELECT DISTINCT category FROM product ORDER BY pname;